<div class="gridster">
  <ul>
   
    <li class="clickable_widget" id="" data-row="1" data-col="1" data-sizex="4" data-sizey="1">
        <div data-id="welcome" data-view="Text" data-title="Humidity" data-text="" data-moreinfo="" style="background-color: #ff9618"></div>
    </li>

   
   	<li class="clickable_widget" id="" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="humidity_score" data-view="Meter" data-title="Humidity" data-height="200" data-width="200" data-min="0" data-max="45" data-suffix=""></div>
    </li>

   
    <li class="clickable_widget" id="" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="low_humidity" data-view="Text" data-title="Low Humidity" data-text="10°C" data-moreinfo="" style="background-color: #0ea1ba"></div>
    </li>
   
	 <li class="clickable_widget" id="" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="high_humidity" data-view="Text" data-title="High Humidity" data-text="20°C" data-moreinfo="" style="background-color: #047100"></div>
    </li>  

    <li class="clickable_widget" id="" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="humidity_weather_forecast" data-view="Text" data-title="Weather Forecast" data-text="20°C" data-moreinfo="" style="background-color: #37afa4"></div>
    </li>       
        
  </ul>
</div>